<%= form_for [quiz, question],
            :html => {:class => 'form-horizontal form-horizontal-mini', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><%= t('questions.edit') %></h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag 'subtype', params[:subtype] %>
    <%= hidden_field_tag 'type', params[:type] %>
    <fieldset>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => question, :type => :content, :f => f} do %>

        <%= f.text_area :content,
                        :placeholder => t('questions.placeholders.content'),
                        :class => 'rich' %>
      <% end %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('questions.update'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>
