<%= form_for [course, quiz],
            :html => {:class => 'form-horizontal', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><%= t('quizzes.new') %></h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag 'subtype', params[:subtype] %>
    <%= hidden_field_tag 'type', params[:type] %>
    <fieldset>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => quiz, :type => :name, :f => f} do %>
        <%= f.text_field :name,
                         :placeholder => t('quizzes.placeholders.name'),
                         :maxlength => 80 %>
      <% end %>

      <% unless course.list_of_subjects.blank? %>
        <%= render :layout => 'shared/bootstrap_field',
                  :locals => {:object => quiz,
                              :type => :subjects, :f => f} do %>
          <%= f.select :subject_ids, options_for_select(course.list_of_subjects),
                           {}, {:class => 'rich', :multiple => true} %>
        <% end %>
      <% end %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('quizzes.create'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>
