<%= form_for [course, announcement],
             :html => {:class => 'form-horizontal form-horizontal-mini', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>
      <%= t('announcements.edit') %>
    </h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag 'subtype', params[:subtype] %>
    <%= hidden_field_tag 'type', params[:type] %>
    <%= hidden_field_tag 'page', params[:page] %>
    <fieldset>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => announcement, :type => :content,
                             :f => f} do %>
      <%= f.text_area :content,
                      :placeholder => t('announcements.placeholders.content'),
                      :class => 'rich' %>
      <% end %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('announcements.update'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>
