<p><%= t('forgot_password.greeting') %> <%= @user.fullname %>,</p>

<p>
  <%= link_to t('forgot_password.click_here'),
               hash_url(@reset_url, @reset_path) %>
  <%= t('forgot_password.to_reset_password') %>.
</p>

<p><%= t('forgot_password.ignore') %></p>

<p>
  <%= t('site.title') %>, <br />
  <%= t('site.subtitle') %>
</p>
