<p>Hi <%= @user.fullname %>,</p>

<p>
  <%= @announcement.user.fullname %> posted the following announcement in '<%= @announcement.course.name %>'
</p>

<p>
  <%= raw @announcement.brief_content %>
</p>

<p>
  <%= link_to 'Go to the announcement', hash_url(@announcements_url, @announcements_path) + '?subtype=announcements&type=learn' %>
</p>

<p>
  <em>You can disable announcement notifications from your profile page.</em>
</p>

<p>
  <%= t('site.title') %>, <br />
  <%= t('site.subtitle') %>
</p>
