<%= form_for [post, comment],
             :html => {:class => 'form-horizontal form-horizontal-mini', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>
      <%= t('comments.new') %>
    </h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag 'page', (params[:page].blank? ? "1" : params[:page]) %>
    <fieldset>
      <% unless logged_in? %>
        <%= render :layout => 'shared/bootstrap_field',
                   :locals => {:object => comment, :type => :email,
                               :f => f} do %>
          <%= f.text_field :email, :placeholder => t('comments.placeholders.email') %>
        <% end %>
      <% end %>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => comment, :type => :content,
                             :f => f} do %>
        <%= f.text_area :content,
                      :placeholder => t('comments.placeholders.content'),
                      :class => 'rich' %>
      <% end %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('comments.create'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>
