<ul class="breadcrumb">
  <li>
    <%= link_to t('page.home'), hash_path(root_path),
                :class => 'scroll-top' %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= t('page.about') %>
  </li>
</ul>

<div class="page-header">
  <h4>Introduction</h4>
</div>
<p>
  Akshi is a simple online learning platform. Akshi connects students, teachers
  and students to enable a streamlined learning experience. Akshi allows anyone
  to teach free and paid courses online.
</p>
<hr />
<div class="page-header">
  <h4>Team</h4>
</div>

<ul class="thumbnails team">
  <li class="span2">
    <div class="thumbnail">
      <%= image_tag 'team/gunasegaran.png' %>
      <div class="caption">
        <h5>Dr. R. Gunasegaran</h5>
        <p>Founder &amp; Director</p>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= image_tag 'team/mayilavelan.png' %>
      <div class="caption">
        <h5>Dr. S. Mayilavelan</h5>
        <p>Advisor</p>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= image_tag 'team/gururajan.png' %>
      <div class="caption">
        <h5>Dr. N. Gururajan</h5>
        <p>Advisor</p>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= image_tag 'team/ganesh.png' %>
      <div class="caption">
        <h5>G. Ganesh</h5>
        <p>Founder &amp; Director</p>
      </div>
    </div>
  </li>
</ul>

<div class="page-header">
  <h4>Contact</h4>
</div>

<blockquote>
  <strong>Akshi Pvt Ltd.,</strong> <br />
  8, Govindapillai Street, <br />
  Kannan Nagar, <br />
  Puducherry - 605013, INDIA. <br />
  Phone: +919500774799, +919894176425, +914132202348 <br />
  <a href="mailto:info@akshi.com">info@akshi.com</a> <br />
</blockquote>
