<%= form_for [:admin, collection],
             :html => {:class => 'form-horizontal', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><%= t('collections.edit') %></h4>
  </div>

  <div class="modal-body">
    <fieldset>
    <span class="help-inline error" style="padding-left:100px">
      <% unless collection.errors[:cover_file_size].blank? %>
        Cover Image : <%= collection.errors[:cover_file_size].first %>
      <% end %>
    </span>
      <%= hidden_field_tag 'type', params[:type] %>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => collection,
                             :type => :name, :f => f} do %>
        <%= f.text_field :name,
                         :placeholder => t('collections.placeholders.name'),
                         :maxlength => 80 %>
      <% end %>

      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => collection,
                             :type => :cover, :f => f} do %>
         <%= f.file_field :cover, :accept => 'image/*',
                         'data-filesize_limit' => Setting.upload.image_limit,
                         'data-authenticity_token' => form_authenticity_token,
                         'data-session_key' => cookies['akshi_session'] %>
      <% end %>

      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => collection,
                             :type => :parent, :f => f} do %>
        <%= f.select :parent_id,
                     options_from_collection_for_select(
                                                  Collection.all, 'id', 'name',
                                                  f.object.parent_id),
                    {:include_blank => t('site.none')},
                    {:class => 'span2 rich'} %>
      <% end %>
      
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => collection,
                             :type => :description, :f => f} do %>
        <%= f.text_area :description,
                         :placeholder => t('collections.placeholders.description'),
                         :class => 'rich', :style=> "height:100px" %>
      <% end %>

      <%= render :layout => 'shared/bootstrap_field',
                   :locals => {:object => collection,
                               :type => :paid, :f => f} do %>
        <%= f.check_box :paid %>
      <% end %>

      <div id="payment-inputs" class="payment-inputs">
        <%= render :layout => 'shared/bootstrap_field',
                   :locals => {:object => collection,
                               :type => :discount, :f => f} do %>
          <%= f.text_field :discount,
                           :placeholder => t('collections.placeholders.discount'),
                           :maxlength => 80 %>
        <% end %>

        <%= render :layout => 'shared/bootstrap_field',
                   :locals => {:object => collection,
                               :type => :offline_payment_instruction, :f => f} do %>
          <%= f.text_area :offline_payment_instruction,
                          :placeholder => t('courses.placeholders.offline_payment_instruction'),
                          :class => 'rich', :style=> "height:100px"%>
        <% end %>
      </div>
    
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => collection,
                             :type => :position, :f => f} do %>
        <%= f.text_field :position,
                         :placeholder => t('collections.placeholders.position'),
                         :maxlength => 80 %>
      <% end %>

    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('collections.update'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    function togglePaymentInputs() {
      $('#payment-inputs').toggle($('#collection_paid').is(':checked'));
    }

    togglePaymentInputs();

    $('#collection_paid').change(function() {
      togglePaymentInputs();
    });
  });
</script>
<style>
  .modal .modal-body {
      max-height: 420px;
      overflow-y: auto;
  }
</style>