<%= form_for [:admin, category],
             :html => {:class => 'form-horizontal', :remote => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><%= t('categories.edit') %></h4>
  </div>

  <div class="modal-body">
    <fieldset>
      <%= hidden_field_tag 'type', params[:type] %>
      <%= render :layout => 'shared/bootstrap_field',
                 :locals => {:object => category,
                             :type => :name, :f => f} do %>
        <%= f.text_field :name,
                         :placeholder => t('categories.placeholders.name'),
                         :maxlength => 80 %>
      <% end %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= f.submit t('categories.update'), :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal">
      <%= t('site.close') %>
    </button>
  </div>
<% end %>
