<div id="intro" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#intro" data-slide-to="0" class="active"></li>
    <li data-target="#intro" data-slide-to="1"></li>
    <li data-target="#intro" data-slide-to="2"></li>
    <li data-target="#intro" data-slide-to="3"></li>
    <li data-target="#intro" data-slide-to="4"></li>
    <li data-target="#intro" data-slide-to="5"></li>
    <li data-target="#intro" data-slide-to="6"></li>
    <li data-target="#intro" data-slide-to="7"></li>
    <li data-target="#intro" data-slide-to="8"></li>
    <li data-target="#intro" data-slide-to="9"></li>
    <li data-target="#intro" data-slide-to="10"></li>
  </ol>
  <div class="carousel-inner">
    <div class="active item">
      <a class="group1" href="/assets/tour/640x480/tour_1.png" title="Akshi is an online learning platform">
        <%= image_tag 'tour/tour_1.png' %>
        <div class="carousel-caption">
          <p>
            Akshi is an online learning platform
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_1.jpg" title="Akshi Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_1.png' %>
        <div class="carousel-caption">
          <p>Akshi Inaugural Function - akshi.com was inaugurated by Puducherry CM Shri. N. Rangasamy on 24 October 2012</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_2.jpg" title="Akshi Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_2.png' %>
        <div class="carousel-caption">
          <p>Akshi Inaugural Function - Puducherry Education Minister Shri. T. Thiagarajan</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_3.jpg" title="Akshi Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_3.png' %>
        <div class="carousel-caption">
          <p>Akshi Inaugural Function - Felicitation by Puducherry CM Shri. N. Rangasamy</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_5.jpg" title="Akshi Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_5.png' %>
        <div class="carousel-caption">
          <p>Akshi Inaugural Function - Demoing to Puducherry CM Shri. N. Rangasamy</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_6.jpg" title="Akshi Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_6.png' %>
        <div class="carousel-caption">
          <p>Akshi Inaugural Function - Felicitation of akshi.com Founder Er. G. Ganesh by Puducherry CM Shri. N. Rangasamy</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_7.jpg" title="Akshi.com Online Course Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_7.png' %>
        <div class="carousel-caption">
          <p>Akshi.com Online Course Inaugural Function - Inaugurated by Puducherry Education Minister Shri. T. Thiagarajan</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_8.jpg" title="Akshi.com Online Course Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_8.png' %>
        <div class="carousel-caption">
          <p>Akshi.com Online Course Inaugural Function</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_9.jpg" title="Akshi.com Online Course Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_9.png' %>
        <div class="carousel-caption">
          <p>Akshi.com Online Course Inaugural Function - Demoing to Puducherry Education Minister Shri. T. Thiagarajan by our akshi.com Founder Er G. Ganesh.</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_10.jpg" title="Akshi.com Online Course Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_10.png' %>
        <div class="carousel-caption">
          <p>Akshi.com Online Course Inaugural Function - All India Jipmer First Rank Holder from Vetri (2003) R. Srinivasaragavan.</p>
        </div>
      </a>
    </div>
    <div class="item">
      <a class="group1" href="/assets/tour/640x480/Inaugural/akshi_11.jpg" title="Akshi.com Online Course Inaugural Function">
        <%= image_tag 'tour/Inaugural/akshi_11.png' %>
        <div class="carousel-caption">
          <p>Akshi.com Online Course Inaugural Function</p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control left" href="#intro" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#intro" data-slide="next">&rsaquo;</a>
</div>
