<%= render 'admin/nav' %>

<% if courses.present? %>
  <table class="table table-striped table-hover">
    <tbody>
      <% courses.each do |course| %>
        <tr>
          <td class="course-icon">
              <%= link_to image_tag(course.cover(:icon)),
                          hash_path(course_path(course,
                            :type => params[:type],
                            :subtype => 'details')),
                          :class => 'thumbnail' %>
          </td>
          <td class="course-details" style="vertical-align: middle;">
            <%= link_to truncate(course.name, :length => 70),
                        hash_path(course_path(course,
                          :type => params[:type],
                          :subtype => 'details')),
                          :rel => 'tooltip',
                          :title => course.name %> <br />
            <%= truncate strip_html(course.description), :length => 80 %>
          </td>
          <td style="width: 150px; vertical-align: middle;">
            <%= link_to t('site.accept'),
                        update_status_course_path(course,
                                                  :status => 'publish',
                                                  :type => 'admin',
                                                  :subtype => 'admin_courses'),
                        :method => :put, :remote => true, :confirm => t('site.confirm'),
                        :id => "accept_#{course.id}", :class => 'btn btn-primary' %>
            <%= link_to t('site.reject'),
                        update_status_course_path(course,
                                                  :status => 'reject',
                                                  :type => 'admin',
                                                  :subtype => 'admin_courses'),
                        :method => :put, :remote => true, :confirm => t('site.confirm'),
                        :id => "reject_#{course.id}", :class => 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right">
    <%= page_navigation_links(courses) %>
  </div>
<% else %>
  <div class="alert">
    <%= t('courses.no_courses') %>
  </div>
<% end %>
